{% extends 'base.html.twig' %}

{% block title %}Au 34 burger{% endblock %}


{% block main %}

    <div class="alignburgerPresentation">
        <div class="burgerPresentation">
            <img class="imgBurgerPresentation" src="{{ asset('build/images/burger/Test1.png') }}"
                 alt="Au 34 burger présentation">
            <div class="aligementTxtPresentation">
                <h1 class="titre34Burger">BURGERS</h1>
                <ul>
                    <li>
                        <p class="text-muted">Pains Maison</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/IconPainBurger.png') }}"
                             alt="Pain Maison">
                    </li>

                    <li>
                        <p class="text-muted">Viande Origine</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/DrapeauFrancais.png') }}"
                             alt="Drapeau Français">
                    </li>

                    <li>
                        <p class="text-muted">Frites Maison</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/IconeFrites.png') }}"
                             alt="Frites Maison">
                    </li>

                    <li>
                        <p class="text-muted">Large Choix</p>
                        <p class="nbrBurgerIntro">x 12</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    {#    <div class="grid-wrapper"> #}
    {#        <div class="grid" data-text="BURGER"> #}
    {#            <div class="grid__item item-hero"> #}
    {#                <img src="{{ asset('build/images/cheesburger.png') }}" alt=""> #}
    {#            </div> #}
    {#            <div class="grid__item item-detail"> #}
    {#                <h1 class="title">Passe prendre <br> un Burger !</h1> #}
    {#                <p class="description">Tous nos Burgers sont préparés avec des produits locaux et des pains fait #}
    {#                    maison</p> #}
    {#            </div> #}
    {#            <div class="grid__item item-info"> #}
    {#                <div class="info"> #}
    {#                    <span class="value">150<small>gr</small></span> #}
    {#                    <span class="name">Steak Pure Boeuf</span> #}
    {#                </div> #}
    {#                <div class="info"> #}
    {#                    <span class="value">France <small>&#127467;&#127479;</small></span> #}
    {#                    <span class="name">Viande Origine</span> #}
    {#                </div> #}
    {#                <div class="info"> #}
    {#                    <span class="value">10<small>€</small></span> #}
    {#                    <span class="name">Prix (hors frites)</span> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}


    {#    <div class="grid-wrapper"> #}
    {#        <div class="grid" data-text="TACOS"> #}
    {#            <div class="grid__item item-hero"> #}
    {#                <img src="{{ asset('build/images/tacos.png') }}" alt=""> #}
    {#            </div> #}
    {#            <div class="grid__item item-detail"> #}
    {#                <h1 class="title">Ou sinon on fait<br>aussi des Tacos !</h1> #}
    {#                <p class="description">Tacos réalisés avec amour et préparés avec que de bons produits</p> #}
    {#            </div> #}
    {#            <div class="grid__item item-info"> #}
    {#                <div class="info"> #}
    {#                    <span class="value">150<small>gr</small></span> #}
    {#                    <span class="name">Steak Pure Boeuf</span> #}
    {#                </div> #}
    {#                <div class="info"> #}
    {#                    <span class="value">France <small>&#127467;&#127479;</small></span> #}
    {#                    <span class="name">Viande Origine</span> #}
    {#                </div> #}
    {#                <div class="info"> #}
    {#                    <span class="value">10<small>€</small></span> #}
    {#                    <span class="name">Prix (hors frites)</span> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}

    {#    <div class="grid-wrapper"> #}
    {#        <div class="grid" data-text="FRITES"> #}
    {#            <div class="grid__item item-hero"> #}
    {#                <img src="{{ asset('build/images/VisuelBoissonEtFrites.png') }}" alt=""> #}
    {#            </div> #}
    {#            <div class="grid__item item-detail"> #}
    {#                <h1 class="title">Et des Frites <br> et Boissons !</h1> #}
    {#                <p class="description">Frites 100% maison et boissons sans alcool.</p> #}
    {#            </div> #}
    {#            <div class="grid__item item-info"> #}
    {#                <div class="info"> #}
    {#                    <span class="value">150<small>gr</small></span> #}
    {#                    <span class="name">Steak Pure Boeuf</span> #}
    {#                </div> #}
    {#                <div class="info"> #}
    {#                    <span class="value">France <small>&#127467;&#127479;</small></span> #}
    {#                    <span class="name">Viande Origine</span> #}
    {#                </div> #}
    {#                <div class="info"> #}
    {#                    <span class="value">10<small>€</small></span> #}
    {#                    <span class="name">Prix (hors frites)</span> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}

{% endblock %}
