{% extends 'base.html.twig' %}

{% block title %}Au 34 burger{% endblock %}

{% block main %}

        <div class="container d-flex w-75">
            <p class="text-muted">Découvrez notre nouveau restaurant fast-food à Saint-Remy sur Durolle (34 Av. Joseph Claussat,
                63550 Saint-Rémy-sur-Durolle), ouvert du
                mercredi au samedi à partir
                de 18h30 et toute la journée du mercredi. Nous proposons une variété de délicieux burgers et tacos faits
                maison à partir de viandes françaises de qualité et de fromages locaux d'Auvergne. Nous offrons
                également
                une option végétarienne pour les hamburgers et les tacos. Nous acceptons les chèques, les espèces et les
                cartes bancaires. Venez découvrir notre savoureuse cuisine et notre service de qualité.
                Nous avons hâte de vous accueillir chez nous.</p>
        </div>
    <div class="alignburgerPresentation">
        <a href="https://localhost:8000/burger/" class="burgerPresentation">
            <img class="imgBurgerPresentation" src="{{ asset('build/images/burger/Test1.png') }}"
                 alt="Au 34 burger présentation">
            <div class="aligementTxtPresentation">
                <h1 class="titre34Burger">BURGERS</h1>
                <ul>
                    <li>
                        <p class="text-muted">Pains Maison</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/IconPainBurger.png') }}"
                             alt="Pain Maison">
                    </li>

                    <li>
                        <p class="text-muted">Viande Origine</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/DrapeauFrancais.png') }}"
                             alt="Drapeau Français">
                    </li>

                    <li>
                        <p class="text-muted">Frites Maison</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/IconeFrites.png') }}"
                             alt="Frites Maison">
                    </li>

                    <li>
                        <p class="text-muted">Large Choix</p>
                        <p class="nbrBurgerIntro">x 11</p>
                    </li>

                </ul>
            </div>
        </a>
    </div>

    <div class="alignburgerPresentation">
        <a href="https://localhost:8000/tacos/" class="burgerPresentation">
            <img class="imgTacosPresentation" src="{{ asset('build/images/TacosPresentation.png') }}"
                 alt="Au 34 burger présentation">
            <div class="aligementTxtPresentation">
                <h1 class="titre34Burger">TACOS</h1>
                <ul>

                    <li>
                        <p class="text-muted">Viande Origine</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/DrapeauFrancais.png') }}"
                             alt="Drapeau Français">
                    </li>

                    <li>
                        <p class="text-muted">Frites Maison</p>
                        <img class="imgIconesPresentation"
                             src="{{ asset('build/images/IconeFrites.png') }}"
                             alt="Frites Maison">
                    </li>

                    <li>
                        <p class="text-muted">Sauces</p>
                        <p class="nbrBurgerIntro">x 8</p>
                    </li>

                    <li>
                        <p class="text-muted">Fromages</p>
                        <p class="nbrBurgerIntro">x 7</p>
                    </li>

                </ul>
            </div>
        </a>
    </div>

    <div class="alignburgerPresentation">
        <a href="https://localhost:8000/drink/" class="burgerPresentation">
            <img class="imgDrinkPresentation" src="{{ asset('build/images/drink/BoissonVisuel.png') }}"
                 alt="Au 34 burger présentation">
            <div class="aligementTxtPresentation">
                <h1 class="titre34Burger">BOISSONS</h1>
                <ul>
                    <li>
                        <p class="text-muted">Tous les grands classiques</p>
                    </li>
                </ul>
            </div>
        </a>
    </div>

{% endblock %}
