<div class="card m-4">
    <div class="imgBx">
        <img src="{{ asset( 'build/images/burger/') ~ burger.imagePath }}" alt="burger">
    </div>

    <div class="contentBx">

        <h2>{{ burger.name }}</h2>
        <p class="description">{{ burger.description }}</p>

        <div class="prix">
            <p class="prixBurger">{{ burger.price }} €</p>

            {#            {% if app.user != null %} #}
            {#                <label> #}
            {#                    <input class="frites" data-add-frie="{{ burger.id }}" type="checkbox" name="frites"> #}
            {#                </label> #}
            {#                <img class="btnFrite" src="{{ asset( 'build/images/fites2€.png') }}" alt="frites"> #}
            {#            {% endif %} #}
        </div>

        <div class="optionFries">
            <p>avec</p>
            <img src="{{ asset('build/images/fites2€.png') }}" class="imgOptionFries" alt="frites">
            <p class="prixFries">+ 2€</p>
        </div>

        {#        {% if app.user != null %} #}
        {#            <a class="btnAjoutCart" data-add-burger-cart="{{ burger.id }}"> #}
        {#                <i class="fa-solid fa-cart-plus"></i> Ajouter au Panier</a> #}
        {#        {% endif %} #}

        {#        {% if app.user == null %} #}
        {#            <a class="btnAjoutCart m-2" href="{{ path('app_login') }}"><i class="fa-solid fa-person-chalkboard"></i> #}
        {#                Créer un compte</a> #}
        {#            <a class="btnAjoutCart m-2" href="{{ path('app_login') }}"><i class="fa-solid fa-key"></i> Se connecter</a> #}

        {#        {% endif %} #}

        {#        {% if is_granted("ROLE_ADMIN") %} #}
        {#            <a class="btnModifierCart bg-success" href="{{ path('app_burger_new', {'id': burger.id}) }}"><i class="fa-solid fa-plus"></i> Nouveau</a> #}
        {#            <a class="btnModifierCart bg-danger" href="{{ path('app_burger_edit', {'id': burger.id}) }}"><i class="fa-solid fa-minus"></i> Modifier/Supprimer</a> #}
        {#        {% endif %} #}
    </div>

</div>


{# <a href="{{ path('app_burger_show', {'id': burger.id}) }}">show</a> #}
{# <a href="{{ path('app_burger_new') }}">Create new</a> #}
