{#<form method="post" class="deleteMeat" action="{{ path('app_meat_delete', {'id': meat.id}) }}"#}
{#      onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette viande ?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meat.id) }}">#}
{#    <button class="btnSup btnBurgerNew btnFormSup">Supprimer</button>#}
{#</form>#}

{#<form method="post" class="deleteBurger" action="{{ path('app_burger_delete', {'id': burger.id}) }}"#}
{#      onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce Burger ?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ burger.id) }}">#}
{#    <button class="btnSup btnBurgerNew btnFormSup">Supprimer</button>#}
{#</form>#}

{#<form method="post" class="deleteBurger" action="{{ path('app_burger_delete', {'id': burger.id}) }}"#}
{#      onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce Burger ?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ burger.id) }}">#}
{#    <button class="btnSup btnBurgerNew btnFormSup">Supprimer</button>#}
{#</form>#}

{#<form method="post" class="deleteBurger" action="{{ path('app_burger_delete', {'id': burger.id}) }}"#}
{#      onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce Burger ?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ burger.id) }}">#}
{#    <button class="btnSup btnBurgerNew btnFormSup">Supprimer</button>#}
{#</form>#}
